.search-container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-items: center;
  align-content: center;
  column-gap: 10px;
}

.search-input {
  width: 305px;
  padding: 10px;
  outline: none;
  border: 1px solid #430734;
  color: #430734;
}

.search-btn {
  width: 80px;
  padding: 10px;
  background-color: #430734;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #3a0236;
  }
}
