<div class="flex justify-between items-center gap-2 h-full p-3 border-t-2 border-slate-600">
	<button>
		<mat-icon class="text-2xl text-white" aria-hidden="false" aria-label="icon home" fontIcon="home" />
	</button>
	<button>
		<mat-icon class="text-2xl text-white" aria-hidden="false" aria-label="icon home" fontIcon="search" />
	</button>
	<button>
		<mat-icon class="text-2xl text-white" aria-hidden="false" aria-label="icon home" fontIcon="notifications" />
	</button>
	<button>
		<mat-icon class="text-2xl text-white" aria-hidden="false" aria-label="icon home" fontIcon="mail" />
	</button>
</div>
